################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeGen/obj
/EShop/bin
/EShop/obj
/EShop/wwwroot
/EShop.Tests/obj
/EShop.Tests/bin
/EShop.Tests/appsettings.json

/EShop.Frontend/bin
/EShop.Frontend/obj
/EShop.Frontend/wwwroot
/EShop.Frontend/FrontEnd/node_modules

/EShop.AdminMS/bin
/EShop.AdminMS/obj
/EShop.AdminMS/wwwroot
/EShop.DBSource/bin
/EShop.DBSource/obj
/EShop.DBSource/wwwroot
/EShop.FileMS/bin
/EShop.FileMS/obj
/EShop.FileMS/wwwroot
/EShop.Libs/bin
/EShop.Libs/obj
/EShop.Libs/wwwroot
/EShop.ProductMS/bin
/EShop.ProductMS/obj
/EShop.ProductMS/wwwroot